*{

-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
   box-sizing: border-box;

   
   margin:0;
   padding:0;
}

body{
    margin:0 auto; 
   font-family:'Julius Sans One', sans-serif;
}



.container{
    width: 300px; 
    margin: 5em auto;
    padding: 10px;
}



.container section{
    width:100%;
    border:1px solid gray;
    background-color:lightyellow;
    padding: 15px;

}

.container section p{
text-align:center;
padding:30px;
color:hotpink;

}

.container section p img{
    width: 15px;
    height:15px;
    cursor: pointer;
}
.container section p img:first-of-type{
    float: left;
}
.container section p img:last-of-type{
    float: right;
}

.container section p img:hover{
   background-color:yellow;
}


.post{    
    width:100%;
    height:150px;
    overflow: scroll;
    text-align:left;
    font-size:0.9em;
    background-image: url("http://tj-prod-media.s3.amazonaws.com/2012/08/11594-free-printable-scrapbooking-paper-in-pale-pink-butterflies-little-stars-polka-dot-and-plaid.png");
    border:1px solid gray;

}

#section{
    width: 100%;
    height:150px;
    padding: 10px 0px;
    border:none;
}



textarea{
    width: 100%;
    height:100%;
    font-size:1em;
    padding: 5px;
}

button{
    padding:5px;
    margin:10px;
    margin-left:75%;
    background-color:papayawhip;
    border-radius:5px;
    color:hotpink;
    font-family: 'Julius Sans One', sans-serif;
}





